@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=New+Rocker&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
.sidebar-container{
    overflow-y: scroll;

}

.slick-prev:before,
.slick-next:before {
  color: black; /* Change to desired color */
}

.slick-prev,
.slick-next {
  z-index: 1;
}


.sidebar-container::-webkit-scrollbar {
    width: 4px;
}
.sidebar-container::-webkit-scrollbar:hover{
    width: 8px;
}
.sidebar-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px; 
  }

.sidebar-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; 

}

.sidebar-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 10px; 
  }
